@charset"utf-8";
@import "public/MobileWap.scss";
@import "public/MobileReset.scss";
@import "public/FlexibleSassMethod.scss";

// size 900px
@function size($size) {
  $width: 900;
  $scale: 10;
  @return ($size / $width * $scale) * 1rem;
}
$bg-c-1: #FFF;
$bg-c-2: #200c41;
$bg-c-3: #cc9729;
$bg-c-4: #8dd9db;
$bg-c-5: #33d0bf;
$font-c-1: #494949;
$font-c-2: #a0a0a0;
$font-c-3: #b2b2b2;
$font-c-4: #33d0bf;
$main-color: #91D4DA;
$border-color: rgba(0,0,0,0.16);
$border: size(2) solid $border-color;
html{width: 100%;height: 100%;}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  @include font-size(12px);
  background-color: $bg-c-1;
  color: $font-c-1;
}
.loading{
  width:100%;
  height: 100%;
  position: fixed;
  background: $bg-c-2;
  z-index: 999;
  div{
    width: size(300);
    height: size(372);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: size(-150);
    margin-top: size(-186);
    background: url(http://7u2psp.com2.z0.glb.qiniucdn.com/act827/rabbit.jpg) $bg-c-2 no-repeat;
    background-size: size(300) auto;
    animation: animBg .5s steps(4) 0s infinite;
    cursor: pointer;
  }
}
.bg{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(http://7u2psp.com2.z0.glb.qiniucdn.com/act827/backgrounds.png) no-repeat center;
  background-size: 100%;
  z-index: 0;
  div{
    z-index: 1;
  }
  .bg_yun{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
  }
  .yun1{
    animation: wuyun 1s linear 0s infinite;
    width: size(270);
    height: size(130);
    left: size(80);
    background: url(http://7u2psp.com2.z0.glb.qiniucdn.com/act827/pic_yun.png);
    background-size: size(900) size(130);
    background-position: size(0);
  }
  .yun5{
    animation: wuyun 5s linear 0s infinite;
    width: size(270);
    height: size(130);
    right: size(70);
    background: url(http://7u2psp.com2.z0.glb.qiniucdn.com/act827/pic_yun.png);
    background-size: size(900) size(130);
    background-position: size(0);
    transform: rotate3d(0,1,0,180deg);
    opacity: 0.8;
  }
  .yun2{
    animation: wuyun 2s linear 0s infinite;
    width: size(160);
    height: size(130);
    left: size(-20);
    background: url(http://7u2psp.com2.z0.glb.qiniucdn.com/act827/pic_yun.png);
    background-size: size(900) size(130);
    background-position: size(-270);
  }
  .yun3{
    animation: wuyun 3s linear 0s infinite;
    width: size(200);
    height: size(130);
    left: size(20);
    margin-top: size(130);
    background: url(http://7u2psp.com2.z0.glb.qiniucdn.com/act827/pic_yun.png);
    background-size: size(900) size(130);
    background-position: size(-530);
  }
  .yun4{
    animation: wuyun 4s linear 0s infinite;
    width: size(180);
    height: size(130);
    right: size(-10);
    margin-top: size(-40);
    background: url(http://7u2psp.com2.z0.glb.qiniucdn.com/act827/pic_yun.png);
    background-size: size(900) size(130);
    background-position: size(-720);
  }

  .xings1{
    position: absolute;
    animation: xingxing1 1s linear 0s infinite;
    width: size(900);
    height: size(700);
    right: size(0);
    margin-top: size(0);
    background: url(http://7u2psp.com2.z0.glb.qiniucdn.com/act827/pic_xings.png);
    background-size: size(900) size(1600);
    background-position: size(0);
  }
  .xings2{
    position: absolute;
    bottom: 0;
    animation: xingxing1 1s linear 0s infinite;
    width: size(900);
    height: size(500);
    right: size(0);
    margin-top: size(0);
    background: url(http://7u2psp.com2.z0.glb.qiniucdn.com/act827/pic_xings.png);
    background-size: size(900) size(1600);
    background-position: 0 size(-1100);
  }
}
.tai{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  .pic_tai{
    width: size(600);
    height: size(722);
    margin: size(50) auto;
    animation: am_big 2s linear 0s infinite;
  }
  .pic_title{
    width: size(800);
    position: absolute;
    bottom: size(60);
    left: 50%;
    margin-left: size(-400);
  }
  a{
    width: size(80);
    height: size(80);
    display: block;
    position: absolute;
    bottom: size(20);
    left: 50%;
    margin-left: size(-40);
    background: url(http://7u2psp.com2.z0.glb.qiniucdn.com/act827/pic_down.png);
    background-size: size(80);
    animation: float 1s linear 0s infinite;
  }
}
.wap{
  position: relative;
  .not{
    width: size(700);
    margin:  auto;
    padding: size(50) 0;
    @include font-size(14px);
    @include data-dpr(line-height, 26px);
    color: $bg-c-1;
    text-align: center;
    span{
      font-weight: bold;
      @include font-size(16px);
      color: #f6da86;
    }
    .yong{
      display: inline-block;
      background: rgba(228, 224, 201, 0.97);
      padding: size(10) size(20);
      color: #000;
      border-radius: size(20);
      position: relative;
      &::after{
        content: '勇';
        border-radius: size(80);
        width: size(80);
        height: size(80);
        @include font-size(16px);
        line-height: size(80);
        display: block;
        position: absolute;
        background: rgba(228, 224, 201, 0.97);
        left: size(-40);
        top: size(-40);
      }
    }
  }
  .welfare{
    width: size(800);
    margin: size(30) auto;
    @include font-size(10px);
    @include data-dpr(line-height, 26px);
    color: $bg-c-1;
    text-align: center;
    .we_img{
      // width: size(400);
      margin: size(20) auto;
      position: relative;
      border: size(6) solid #621474;
    }
    p{
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      text-align: center;
      background: $bg-c-2;
      opacity: 0.8;
      @include font-size(12px);
      @include data-dpr(line-height, 26px);
    }
    .notices{
      padding-top: size(100);
      margin-top: size(40);
      background: url(http://7u2psp.com2.z0.glb.qiniucdn.com/act827/pic-warning.png) top center no-repeat;
      background-size: size(80);
    }
  }
  .active{
    position: relative;
    margin-top: size(260);
    // overflow: hidden;
    width: 100%;
    &::after{
      content: '';
      width: size(320);
      height: size(198);
      background: url(http://7u2psp.com2.z0.glb.qiniucdn.com/act827/detail-titles.png) no-repeat;
      background-size: 100%;
      position: absolute;
      right: 50%;
      margin-right: size(-160);
      top: size(-200);
      animation: am_big 1s linear 0s infinite;
    }
    .acts{
      overflow: hidden;
      margin: size(15);
      z-index: 20;
      .act{
        float: left;
        margin: size(15);
        width: size(260);
        height: size(260);
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        div{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 22;
          border-radius: 50%;
          overflow: hidden;
          padding-top: size(180);
          p{
            // position: absolute;
            bottom: size(10);
            background: $bg-c-2;
            opacity: 0.8;
            width: 100%;
            color: $bg-c-1;
            text-align: center;
            @include font-size(12px);
            @include data-dpr(line-height, 26px);
          }
        }
        a{
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: rgba(0,0,0,0.9);
          z-index: 21;
        }
      }
      .act1{animation: float 1s linear 0.1s infinite;}
      .act2{animation: float 1s linear 0.2s infinite;}
      .act3{animation: float 1s linear 0.3s infinite;}
      .act4{animation: float 1s linear 0.4s infinite;}
      .act5{animation: float 1s linear 0.5s infinite;}
      .act6{animation: float 1s linear 0.6s infinite;}
      .act7{animation: float 1s linear 0.7s infinite;}
      .act8{animation: float 1s linear 0.8s infinite;}
    }
  }
  .notice{
    width: size(800);
    margin: size(60) auto;
    color: $font-c-1;
    // background: url(http://7u2psp.com2.z0.glb.qiniucdn.com/act827/noticebgs.png) no-repeat;
    // background-size: 100%;
    position: relative;
    background: url(http://7u2psp.com2.z0.glb.qiniucdn.com/act827/noticebg2s.png);
    background-position: 0 size(-60);
    background-size: 100%;
    &::after{
      content: '';
      width: size(800);
      height: size(60);
      background: url(http://7u2psp.com2.z0.glb.qiniucdn.com/act827/noticebg1.png) no-repeat;
      background-size: 100%;
      position: absolute;
      left: 0;
      top: size(-60);
    }
    &::before{
      content: '';
      width: size(800);
      height: size(50);
      background: url(http://7u2psp.com2.z0.glb.qiniucdn.com/act827/noticebg3.png) no-repeat;
      background-position: 100%;
      background-size: 100%;
      position: absolute;
      left: 0;
      bottom: size(-50);
    }
    ol{
      padding: 0 size(30);
      h1{
        @include font-size(14px);
        @include data-dpr(line-height, 20px);
        font-weight: bold;
        padding-bottom: size(10);
      }
      li{
        @include font-size(12px);
        @include data-dpr(line-height, 20px);
        
      }
    }
  }
}
.rank{
  position: fixed;
  right: size(4);
  top: size(4);
  z-index: 100;
  border-radius: size(40);
  background: #59136d;
  .rank_img{
    width: size(80);
    height: size(80);
    float: right;
    overflow: hidden;
    border-radius: size(40);
    border: size(4) solid #59136d;
  }
  .rank_test{
    margin-right: size(40);
    // width: size(120);
    padding: size(2) size(20);
    height: size(84);
    @extend %line-overs;
    @include font-size(10px);
    @include data-dpr(line-height, 16px);
    color: #FFF;
    text-align: center;
  }
}
.ranking{
  color: #FFF;
  .ranks{
    height: size(80);
    padding: size(10) size(100);
    overflow: hidden;
    .ranks_img{
      width: size(80);
      height: size(80);
      float: left;
      border-radius: size(80);
      overflow: hidden;
    }
    .ranks_main{
      .ranks_test{
          @include font-size(12px);
          @include data-dpr(line-height, 20px);
          padding: 0 size(20);
          overflow: hidden;
        p{
          float: left;
        }
        span{
          float: right;
          position: relative;
          &::after{
            content: '';
            position: absolute;
            left: size(-50);
            top: size(4);
            width: size(30);
            height: size(50);
            background: url(http://7u2psp.com2.z0.glb.qiniucdn.com/act827/pic_title1.png) no-repeat;
            background-size: size(450);
            background-position: size(-130) 0;
          }
        }
      }
      .ranks_list{
        margin: 0 size(20) 0 size(100);
        height: size(20);
        background: #56126a;
        overflow: hidden;
        border-radius: size(20);        
        p{
          background: #b15ab9;
          height: size(20);
        }
      }
    }
  }
}
.sum{
  // width: size(40);
  // height: size(20);
  right: 0;
  top: size(40);
  position: fixed;
  background: #FFF;
  border-radius: size(40);
  padding: size(20) size(30);
  color: #000;
  @include font-size(12px);
  @include data-dpr(line-height, 20px);
  i{
    color: #000;
    font-style: normal;
  }
}
h1{
  @include font-size(18px);
  @include data-dpr(line-height, 40px);
  text-align: center;
}

@keyframes am_big{
  from,to{transform:scale(1);}
  25%{transform:scale(0.99);}
  75%{transform:scale(1.01);}
}
@keyframes float{
  from,to{transform:translate(0,0);}
  25%{transform:translate(0,size(5));}
  75%{transform:translate(0,size(-5));}
}
@keyframes wuyun{
  from,to{transform:translate(0,0);}
  25%{transform:translate(size(5),0);}
  75%{transform:translate(size(-5),0);}
}
@keyframes xingxing{
  from{opacity: 0;}
  to{opacity: 1;}
}
@keyframes xingxing1{
  from,to{opacity: 0;}
  25%{opacity: 0.5;}
  75%{opacity: 1;}
}
@keyframes animBg{
  from{background-position:0 0;}
  to{background-position:0 100%;}
}
//360旋转
@keyframes rotate{
  from{transform:rotate(0deg);}
  to{transform:rotate(360deg);}
}
@keyframes lightSpeedIn {
    0% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0
    }
    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1
    }
    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1
    }
    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}


@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
@-webkit-keyframes fadeIn{0%{opacity:0}
100%{opacity:1}
}
.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
.fadeInRight{-webkit-animation-name:fadeInRight;animation-name:fadeInRight}
@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft}
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}
@-webkit-keyframes rotateIn{0%{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:rotate3d(0,0,1,200deg);transform:rotate3d(0,0,1,200deg);opacity:0}
100%{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:none;transform:none;opacity:1}
}
.rotateIn{-webkit-animation-name:rotateIn;animation-name:rotateIn}
@-webkit-keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(0.3,0.3,0.3);transform:scale3d(0.3,0.3,0.3)}
50%{opacity:1}
100%{opacity:1}
}
.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
@-webkit-keyframes lightSpeedIn{0%{-webkit-transform:translate3d(100%,0,0) skewX(-30deg);transform:translate3d(100%,0,0) skewX(-30deg);opacity:0}
60%{-webkit-transform:skewX(20deg);transform:skewX(20deg);opacity:1}
80%{-webkit-transform:skewX(-5deg);transform:skewX(-5deg);opacity:1}
100%{-webkit-transform:none;transform:none;opacity:1}
}
.lightSpeedIn{-webkit-animation-name:lightSpeedIn;animation-name:lightSpeedIn;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}
@-webkit-keyframes flowStar{0%{opacity:1;-webkit-transform:translate3d(0,0,0)}
55%{opacity:0;-webkit-transform:translate3d(16px,16px,0)}
100%{opacity:0;-webkit-transform:translate3d(16px,16px,0)}
}
@-webkit-keyframes flowStarTop{0%{opacity:1;-webkit-transform:translateY(6px)}
55%{opacity:0;-webkit-transform:translateY(0)}
100%{opacity:0;-webkit-transform:translateY(0)}
}
@-webkit-keyframes flowStarLeft{0%{opacity:1; -webkit-transform: translateX(4px);}
55%{opacity:0; -webkit-transform: translateX(-3px);}
100%{opacity:0; -webkit-transform: translateX(-3px);}
}
.flowStar{-webkit-animation:flowStar 1.8s linear infinite}
.flowStar2{-webkit-animation:flowStar 1.8s linear infinite 300ms}
.flowStar3{-webkit-animation:flowStar 1.8s linear infinite 600ms}
.flowStarTop{-webkit-animation:flowStarTop 1.8s linear infinite}
.flowStarLeft{-webkit-animation:flowStarLeft 1.6s linear infinite;}

@-webkit-keyframes pulse {0% {opacity:1; -webkit-transform: scale(1);}
100% {opacity:1; -webkit-transform: scale(1.07);}
}
.pulse {-webkit-animation: pulse infinite alternate linear 1s;}

@-webkit-keyframes updown {0% {opacity:1; -webkit-transform: translateY(-6px);}
100% {opacity:1; -webkit-transform: translateY(6px);}
}
.updown {-webkit-animation: updown infinite alternate linear .7s;}


@-webkit-keyframes shakeAni { 0% { opacity: 1; -webkit-transform: translate(3px, 0px) rotate(0deg); }
  1% { opacity: 1; -webkit-transform: translate(-3px, 0px) rotate(0deg); }
  2% { opacity: 1; -webkit-transform: translate(3px, 0px) rotate(0deg); }
  3% { opacity: 1; -webkit-transform: translate(-3px, 0px) rotate(0deg); }
  4% { opacity: 1; -webkit-transform: translate(3px, 0px) rotate(0deg); }
  5% { opacity: 1; -webkit-transform: translate(-3px, 0px) rotate(0deg); }
  6% { opacity: 1; -webkit-transform: translate(3px, 0px) rotate(0deg); }
  7% { opacity: 1; -webkit-transform: translate(-3px, 0px) rotate(0deg); }
  8% { opacity: 1; -webkit-transform: translate(3px, 0px) rotate(0deg); }
  9% { opacity: 1; -webkit-transform: translate(0px, 0px) rotate(0deg); }
  100% { opacity: 1; -webkit-transform: translate(0px, 0px) rotate(0deg); }
   }

.shakeAni { -webkit-animation-name: shakeAni; -ms-animation-name: shakeAni; animation-name: shakeAni; -webkit-animation-duration: 1.4s; animation-duration: 1.4s; -webkit-animation-iteration-count: infinite; -ms-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: ease-in-out; -ms-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; -webkit-animation-delay: 0s; -ms-animation-delay: 0s; animation-delay: 0s; -webkit-animation-play-state: running; -ms-animation-play-state: running; animation-play-state: running; }

