@charset"utf-8";
@import "public/PCReset.scss";
@import "public/PCSassMethod.scss";
// @import "public/PCSrollbar.scss";

// size 375px size(width px)
@function size($size){
  $width: 375;
  $scale: 10;
  @return ($size / $width * $scale) * 1rem;
}
$bg-c-1: #FFF;
$bg-c-2: #ff7990;
$bg-c-3: #f0f2f2;
$bg-c-4: #8dd9db;
$bg-c-5: #ff4c70;
$font-c-1: #606060;
$font-c-2: #a0a0a0;
$font-c-3: #b2b2b2;
$font-c-4: #33d0bf;
$main-color: #91D4DA;
$border-color: rgba(0,0,0,0.16);
$border: size(2) solid $border-color;
body{
  margin: 0;
  // @include font-size(12px);
  background-color: $bg-c-1;
  background: #E0E0E0;
  color: $font-c-1;
}
.wap{
  position: relative;
}
h3{
  font-size: 19px;
  font-weight: bold;
  margin: 0 0 15px 5px;
  color: #4E4E4E;
}
h5{
  font-size: 16px;
  line-height: 25px;
  clear: both;
  color: #000;
}
h4 a,h5 a{
  font-size: 12px;
  font-weight: normal;
  padding: 1px 3px;
  border: 1px solid #B5B5B5;
}
.fa{
  margin-right: 2px;
}
aside{
  position: fixed;
  z-index: 1;
  top: 30%;
  right: 0;
  li{
    margin-bottom: 10px;
    border-radius: 10px 0 0 10px;
    background: #888;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  }
  a{
    line-height: 38px;
    display: inline-block;
    width: 80px;
    height: 38px;
    padding-left: 10px;
    color: #FFF;
  }
}
.container{
  background: #DBDBDB;
  position: relative;
  overflow: hidden;
  width: 210mm;
  max-width: 1180px;
  margin: auto;
  margin: 10px auto 50px;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  .sidebar{
    float: left;
    line-height: 1.5;
    width: 290px;
    padding: 15px;
    color: #6C6C6C;
    .title{
      margin: 25px 0 20px;
      text-align: center;
      img{
        display: block;
        width: 120px;
        margin: 0 auto 15px;
        text-align: center;
        display: block;
        -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.5), 0px 2px 20px 3px rgba(0,0,0,0.25);
        box-shadow: 0 0 0 2px rgba(255,255,255,0.5), 0px 2px 20px 3px rgba(0,0,0,0.25);
        -webkit-border-radius: 300px;
        border-radius: 300px;
        width: 128px;
        height: 128px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        background: #88acdb;
        -webkit-transition: all 0.2s ease-in;
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        text-align: center;
      }
      h1{
        font-size: 28px;
        font-weight: bold;
      }
    }
    a{
      color: #6C6C6C;
    }
    .side-info{
      li{
        padding-top: 28px;
      }
      dt{
        font-size: 16px;
        font-weight: bold;
        line-height: 32px;
        color: #4E4E4E;
      }
      dd{
        font-size: 14px;
        line-height: 20px;
        position: relative;
        padding: 5px 0;
        border-top: solid 1px #AAA;
      }
      dd:last-child{
          border-bottom: solid 1px #AAA;
      }
      .side-info-item-title{
        position: absolute;
        left: 0;
      }
      .side-info-item-content{
        margin-left: 75px;
      }
      .skill{
        .side-info-item-content{
          margin-left: 120px;
        }
      }
      .social-links{
        .side-info-item-title{
          position: static;
        }
        i{
          padding-right: 5px;
        }
      }
    }
  }
}

.main{
  // margin-left: 290px;
  background: #F5F5F5;
  padding-right: 20px;
  margin-left: 290px;
  a{
    color: #969696;
  }
  .main-info{
    h4{
      font-size: 16px;
      font-weight: bold;
      position: relative;
      i{
        font-size: .9em;
        position: absolute;
        top: 1px;
        left: -24px;
      }
    }
    li{
      padding-top: 20px;
    }
    h2{
      font-size: 22px;
      font-weight: bold;
      line-height: 1;
      position: relative;
      margin: 0 0 15px -5px;
      padding-bottom: 5px;
      color: #525252;
      border-bottom: 1px solid #C4C4C4;
    }
    h2::after{
      content: '';
      width: 20px;
      height: 8px;
      background: #4E4E4E;
      position: absolute;
      right: 0;
      bottom: 3px;
    }
    dd{
      font-size: 15px;
      line-height: 27px;
      color: #616161;
    }
    span{
      font-size: 16px;
      color: #000;
    }
    .exp{
      margin-left: 25px;
      p{
        font-size: 14px;
        line-height: 1.3;
        margin-bottom: 3px;
        color: #616161;
      }
      ul > li{
        margin: 0 0 12px 0;
      }
      li{
        margin: 0 0 25px 20px;
      }
      li:first-child{
        margin: 8px 0 25px 20px;
      }
      img{
        width: 200px;
      }
    }
  }
}
.main-info-item-demo{
  position: absolute;
  right: 0;
  a{
    -webkit-transition: all 250ms;
    transition: all 250ms;
  }
  a:hover{
    text-decoration: none;
    color: #EEE;
    background: #4E4E4E;
  }
}
@media (max-width: 590px){
  aside{
    display: none;
  }
  .container{
    width: 100%;
    .sidebar{
      width: 100%;
    }
  }
  .main{
    width: 100%;
    margin-left: 0;
    .main-info{
      h4{
        margin-bottom: 6px;
      }
      .exp{
        margin-left: 10px;
      }
    }
  }
}
@media print {
  @page {
    size: portrait;
    /*页面设置：a4 横幅*/
    size: A3 portrait;
    margin: 9%;
    background: #E0E0E0;
  }
}