{% extends 'swig/flexible.html' %}

{% block title %}少侠留步！你收到一张来自提谱星球的通缉令{% endblock %}

{% block Keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block author %}{% endblock %}

{% block icon %}/img/favicon.png{% endblock %}

{% block icons %}/apple-touch-icon.png{% endblock %}

{% block link %}
    <script type="text/javascript">{% include "script/flexible.min.js" %}</script>
    <link rel="stylesheet" type="text/css" href="css/flexible.min.css" />
    <script src="http://v2.jingqubao.com/apps/w3g/_static/js/lib/LazyLoad/lazyload_base.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- <div id="loading" class="loading"><div></div></div> -->
        <div class="bg">
            <div class="bg_yun yun1"></div>
            <div class="bg_yun yun2"></div>
            <div class="bg_yun yun3"></div>
            <div class="bg_yun yun4"></div>
            <div class="bg_yun yun5"></div>
            <div class="bg_xings xings1"></div>
            <div class="bg_xings xings2"></div>
            <div class="bg_xings xings3"></div>
        </div>
            <div class="tai">
                <div class="pic_tai"><img class="img" src="http://7u2psp.com2.z0.glb.qiniucdn.com/act827/pic_tai.png"></div>
                <div class="pic_title"><img class="img" src="http://7u2psp.com2.z0.glb.qiniucdn.com/act827/titles.png"></div>
                <a href="javascript:;"></a>
            </div>
        <div class="wap">
            <div class="not">
                月球上<br>专司捣药的玉兔酱们<br>撂了挑子<br>组团出逃了<br>要知道<br>月球上的能量供给全都来自于它们制造的“药原料”<br><span>如若满月之前玉兔酱们还未回归<br>月球的最后一点能量将会耗尽<br>也无法在中秋形成满月<br></span><br><br>于是……<br>为了拯救月球<br>维护银河系秩序的提谱星人<br>向所有星系发出了通缉令  <br>经过几日的侦查<br>终于发现了玉兔酱们隐匿的地方<br>-------地球<br><br>
                <img class="img" src="http://7u2psp.com2.z0.glb.qiniucdn.com/act827/act_8.png"><p>来吧！<br>勇士们<br>为了宇宙和平<br>我们一起把它们送回去！<br></p><!-- <br>现悬赏地球各路勇士<br>一起捉拿月兔酱<br><br> -->
            </div>
            <!-- <div class="not">
                <img class="img" src="http://7u2psp.com2.z0.glb.qiniucdn.com/act827/pic_title3.png">
            </div> -->
            <br>
            <div class="welfare">
                <img class="img" src="http://7u2psp.com2.z0.glb.qiniucdn.com/act827/act_7.png">
                <!-- <h1>勇者福利：</h1>
                <div class="we_img"><img class="img" data-src="http://7u2psp.com2.z0.glb.qiniucdn.com/act827/pic_wel1.jpg?imageView2/1/w/640/h/400/q/100" onload="lzld(this)" src="http://7u2psp.com1.z0.glb.clouddn.com/app/loading.jpg?imageView2/1/w/640/h/300/q/80" /><p>盟主（1名）：提谱旅行基金1000元</p></div>
                <div class="we_img"><img class="img" data-src="http://7u2psp.com2.z0.glb.qiniucdn.com/act827/pic_wel2.jpg?imageView2/1/w/640/h/400/q/100" onload="lzld(this)" src="http://7u2psp.com1.z0.glb.clouddn.com/app/loading.jpg?imageView2/1/w/640/h/300/q/80" /><p>少侠（2名）：折纸兔蓝牙音箱</p></div>
                <div class="we_img"><img class="img" data-src="http://7u2psp.com2.z0.glb.qiniucdn.com/act827/pic_wel3s.png?imageView2/1/w/640/h/400/q/100" onload="lzld(this)" src="http://7u2psp.com1.z0.glb.clouddn.com/app/loading.jpg?imageView2/1/w/640/h/300/q/80" /><p>猎户（3名）：老北京兔儿爷一对</p></div>
                <h1 class="notices">紧急通知：</h1>
                <span>今年月亮最圆是在农历八月十七，<br />也就是9月17日。<br />所以抓捕行动截止到当天夜里23:59。</span> -->
            </div>
            <br>
            <div class="notice">
                <ol type=1>
                    <h1>游戏规则：</h1>
                    <li>1、玉兔酱都藏在月饼下面，但不是每块月饼下面都有，祝好运。</li>
                    <li>2、玉兔狡猾，一旦发现危险，就会集体迁徙，所以每个景区您只有8次机会。</li>
                    <li>3、游戏机会用光，点击<b>右上角“分享”按钮</b>，即可额外获得随机景区的5次点击机会。（微博、朋友圈、微信群请尽情地分享吧！）</li>
                    <li>4、9月18日提谱官方微信、微博将按照排行榜公布前十名获奖用户，抓捕数量相同则按照时间先后排列。</li>
                    <li><b>【升级模式】：</b><br />
                    玉兔藏身的地方，恰好也是中秋赏月最佳出行地，您若前往下列任意景区的月饼地点进行“实地捕捉”，会得到双倍的Rabbit奖励！！</li>
                    <li></li>
                </ol>
            </div>
            <a name="ranking"></a>
            <div class="active">
                <div class="acts">
                    <div class="act act1">
                        <div class="actt" data-rid="6192"><p>泸沽湖</p></div><a style="opacity: 0;" href="javascript:;"></a>
                        <img class="img" data-src="http://7u2psp.com2.z0.glb.qiniucdn.com/577ca80437b5f855743.jpg?imageView2/1/w/320/h/320/q/50" onload="lzld(this)" src="http://7u2psp.com1.z0.glb.clouddn.com/app/loading.jpg?imageView2/1/w/640/h/640/q/80" />
                    </div>
                    <div class="act act2">
                        <div class="actt" data-rid="6185"><p>洱海</p></div><a style="opacity: 0;" href="javascript:;"></a>
                        <img class="img" data-src="http://7u2psp.com2.z0.glb.qiniucdn.com/5672874a24fb5307579.jpeg?imageView2/1/w/320/h/320/q/50" onload="lzld(this)" src="http://7u2psp.com1.z0.glb.clouddn.com/app/loading.jpg?imageView2/1/w/640/h/640/q/80" />
                    </div>
                    <div class="act act3">
                        <div class="actt" data-rid="6263"><p>迪士尼</p></div><a style="opacity: 0;" href="javascript:;"></a>
                        <img class="img" data-src="http://7u2psp.com2.z0.glb.qiniucdn.com/574458c5c2500905190.jpg?imageView2/1/w/320/h/320/q/50" onload="lzld(this)" src="http://7u2psp.com1.z0.glb.clouddn.com/app/loading.jpg?imageView2/1/w/640/h/640/q/80" />
                    </div>
                    <div class="act act4">
                        <div class="actt" data-rid="945"><p>庐山</p></div><a style="opacity: 0;" href="javascript:;"></a>
                        <img class="img" data-src="http://7u2psp.com2.z0.glb.qiniucdn.com/56af8f8020f3a468785.jpg?imageView2/1/w/320/h/320/q/50" onload="lzld(this)" src="http://7u2psp.com1.z0.glb.clouddn.com/app/loading.jpg?imageView2/1/w/640/h/640/q/80" />
                    </div>
                    <div class="act act5">
                        <div class="actt" data-rid="69"><p>颐和园</p></div><a style="opacity: 0;" href="javascript:;"></a>
                        <img class="img" data-src="http://7u2psp.com2.z0.glb.qiniucdn.com/567e10632a4d8463376.jpg?imageView2/1/w/320/h/320/q/50" onload="lzld(this)" src="http://7u2psp.com1.z0.glb.clouddn.com/app/loading.jpg?imageView2/1/w/640/h/640/q/80" />
                    </div>
                    <div class="act act6">
                        <div class="actt" data-rid="200"><p>千岛湖</p></div><a style="opacity: 0;" href="javascript:;"></a>
                        <img class="img" data-src="http://7u2psp.com2.z0.glb.qiniucdn.com/56f36323b4e2421624.jpg?imageView2/1/w/320/h/320/q/50" onload="lzld(this)" src="http://7u2psp.com1.z0.glb.clouddn.com/app/loading.jpg?imageView2/1/w/640/h/640/q/80" />
                    </div>
                    <div class="act act7">
                        <div class="actt" data-rid="53"><p>宏村</p></div><a style="opacity: 0;" href="javascript:;"></a>
                        <img class="img" data-src="http://7u2psp.com2.z0.glb.qiniucdn.com/56839cc3b83aa542523.jpg?imageView2/1/w/320/h/320/q/50" onload="lzld(this)" src="http://7u2psp.com1.z0.glb.clouddn.com/app/loading.jpg?imageView2/1/w/640/h/640/q/80" />
                    </div>
                    <div class="act act8">
                        <div class="actt" data-rid="152"><p>黄山</p></div><a style="opacity: 0;" href="javascript:;"></a>
                        <img class="img" data-src="http://7u2psp.com2.z0.glb.qiniucdn.com/56839c841c4fe246376.jpg?imageView2/1/w/320/h/320/q/50" onload="lzld(this)" src="http://7u2psp.com1.z0.glb.clouddn.com/app/loading.jpg?imageView2/1/w/640/h/640/q/80" />
                    </div>
                    <div class="act act8">
                        <div class="actt" data-rid="1154"><p>凤凰古城</p></div><a style="opacity: 0;" href="javascript:;"></a>
                        <img class="img" data-src="http://7u2psp.com2.z0.glb.qiniucdn.com/b36a9e76eda23f205a922d30c9d6a588.jpg?imageView2/1/w/320/h/320/q/50" onload="lzld(this)" src="http://7u2psp.com1.z0.glb.clouddn.com/app/loading.jpg?imageView2/1/w/640/h/640/q/80" />
                    </div>
                </div>
            </div>
            <div id="ranking" class="ranking">
                <!-- <h1>排行榜：</h1>
                <div class="ranks">
                    <div class="ranks_img"><img class="img" src="http://7u2psp.com2.z0.glb.qiniucdn.com/573be1ddeb78e629541.jpeg?imageView2/1/w/300/h/300/q/100"></div>
                    <div class="ranks_main">
                        <div class="ranks_test"><p>name</p><span>7098098</span></div>
                        <div class="ranks_list"><p></p></div>
                    </div>
                </div>
                <div class="ranks">
                    <div class="ranks_img"><img class="img" src="http://7u2psp.com2.z0.glb.qiniucdn.com/573be1ddeb78e629541.jpeg?imageView2/1/w/300/h/300/q/100"></div>
                    <div class="ranks_main">
                        <div class="ranks_test"><p>name</p><span>7098098</span></div>
                        <div class="ranks_list"><p style="width: 60%"></p></div>
                    </div>
                </div>
                <div class="ranks">
                    <div class="ranks_img"><img class="img" src="http://7u2psp.com2.z0.glb.qiniucdn.com/573be1ddeb78e629541.jpeg?imageView2/1/w/300/h/300/q/100"></div>
                    <div class="ranks_main">
                        <div class="ranks_test"><p>name</p><span>7098098</span></div>
                        <div class="ranks_list"><p style="width: 60%"></p></div>
                    </div>
                </div>
                <div class="ranks">
                    <div class="ranks_img"><img class="img" src="http://7u2psp.com2.z0.glb.qiniucdn.com/573be1ddeb78e629541.jpeg?imageView2/1/w/300/h/300/q/100"></div>
                    <div class="ranks_main">
                        <div class="ranks_test"><p>name</p><span>7098098</span></div>
                        <div class="ranks_list"><p style="width: 60%"></p></div>
                    </div>
                </div>
                <div class="ranks">
                    <div class="ranks_img"><img class="img" src="http://7u2psp.com2.z0.glb.qiniucdn.com/573be1ddeb78e629541.jpeg?imageView2/1/w/300/h/300/q/100"></div>
                    <div class="ranks_main">
                        <div class="ranks_test"><p>name</p><span>7098098</span></div>
                        <div class="ranks_list"><p style="width: 60%"></p></div>
                    </div>
                </div>
                <div class="ranks">
                    <div class="ranks_img"><img class="img" src="http://7u2psp.com2.z0.glb.qiniucdn.com/573be1ddeb78e629541.jpeg?imageView2/1/w/300/h/300/q/100"></div>
                    <div class="ranks_main">
                        <div class="ranks_test"><p>name</p><span>7098098</span></div>
                        <div class="ranks_list"><p style="width: 60%"></p></div>
                    </div>
                </div> -->
            </div>
        </div>
        <div id="rank" class="rank">
            <!-- <div class="rank_img"><img class="img" src="http://7u2psp.com2.z0.glb.qiniucdn.com/573be1ddeb78e629541.jpeg"></div>
            <div class="rank_test">兔子x<i>12321313</i><br />第<em>n</em>名</div> -->
        </div>
    </div>
    <script type="text/javascript">
    </script>
{% endblock %}